Q1.Write a program that asks the user to enter their name, then prints a greeting message with the userâ€™s name.

Enter your name: Khulud alshammari
Hello, Khulud alshammari!

Q2.Write a program that asks the user to enter two numbers and calculates their sum.

Enter the first number: 2
Enter the second number: 3
The sum is: 5

Q3.Write a program that checks if the entered number is even or odd and displays the result.

Enter a number: 2
The number is even

Q4.Write a program that asks the user to enter a temperature in Fahrenheit and converts it to Celsius.

Enter the temperature in Fahrenheit: 3.5
Temperature in Celsius: -15.833333333333334

Q5.Write a program that prints the numbers from 1 to 10 using a for loop

1
2
3
4
5
6
7
8
9
10

Q6.Write a program that asks the user to enter a word and displays the length of the word.

Enter a word: KHULUD
The length of the word is: 6

Q7.Write a program that asks the user to enter three numbers and prints the largest among them.

Enter the first number: 5
Enter the second number: 10
Enter the third number: 20
The largest number is: 20

Q8.Write a program that checks if the entered word starts with a specified letter.

Enter a word: KHULUD
Enter the letter to check: K
The word starts with the letter K

Q9.Write a program to create an empty list, ask the user to enter 5 items to add to the list, and then print the final list.

Enter item 1: 5
Enter item 2: 4
Enter item 3: 7
Enter item 4: 9
Enter item 5: 10
The final list: ['5', '4', '7', '9', '10']

Q10.Write a program that prints the numbers from 1 to 5 using a while loop.

1
2
3
4
5

Q11.Write a Python program that asks the user to enter two integers and then performs the following operations on these numbers: addition, subtraction, multiplication, and integer division. Display the results of each operation.

enter first integer: 2
enter second integer: 10
Addition  12
Subtraction  -8
Multiplication  20
Division  0

Q12.Write a Python function named average that takes three numbers as arguments and returns their average. Then, test the function by calling it twice with the sets of numbers (7, 5, 9) and (6, 6, 7), and print the results.

7.0
6.333333333333333

Q13.Write a Python program that asks the user to enter any number. The program should check if the number is divisible by 5 and print a message indicating that it is divisible by 5 if the condition is true.

enter any number: 10
10 is divisible by 5

Q14.Question: Write a Python program that asks the user to enter an integer. The program should then print all numbers from that integer down to 1 using a while loop, decrementing by 1 each time. When the loop ends, display the message "end loop!!".

enter an integer: 3
3
2
1
end loop!!

Q15.Write a Python program that asks the user to enter an integer. The program should use a while loop to print each number from the entered integer down to 1. For each number, it should display whether the number is even or odd. When the loop ends, print the message "end loop!!

enter an integer: 5
5 is odd
4 is even
3 is odd
2 is even
1 is odd
end loop!!

Q16.Write a Python program using a for loop to print numbers starting from 1 and incrementing by 2 on each iteration.

1
3
5
7
9

Q17.Write a Python program that uses a while loop to print numbers starting from 1 and increments by 2 on each iteration.

1
3
5
7
9

Q18.Define a class named Calculator with methods add, subtract, multiply, and divide to perform basic arithmetic operations. Create an object and use it to perform operations on different numbers.

Addition: 8
Subtraction: 2
Multiplication: 15
Division: 1.6666666666666667

Q19. Write a class named Person with attributes name and age, and a method introduce that prints a sentence with the person's name and age. Create an object of the class and call the method to display the data.

Hello, my name is KHULUD and I am 26 years old.

Q20.Define a class Movie with attributes title, director, and rating. Add a method to check if the rating is suitable for children (if it is less than 7). Then, create an object of a movie and test the rating.

Suitable for children: False

Q21. Write a class named BankAccount with attributes account_number and balance, and methods to deposit and withdraw money. Create an object of this class, test the deposit and withdraw methods, and print the final balance.

Deposited: 100
Withdrawn: 50
Final Balance: 50

Q22.Create a class called Animal with an attribute species and a method make_sound that prints "Some generic animal sound". Then, create a subclass called Cat that inherits from Animal and overrides the make_sound method to print "Meow". Create an object of Cat and call the make_sound method to test it.

Meow

Q23.Create a base class called Vehicle with an attribute num_wheels and a method drive that prints "The vehicle is driving." Then, create a subclass called Car that inherits from Vehicle and overrides the drive method to print "The car is driving." Create an object of Car, set the number of wheels to 4, and call the drive method to test it.

Number of wheels: 4
The car is driving.